# ===============================
# --- Build & Distribution ---
# ===============================
# Ignore PyInstaller output
/build/
/dist/
*.spec

# Ignore Inno Setup output
/installer/
/s_mapper_setup.iss
*.msix
*.msi
*.exe

# ===============================
# --- Python Cache & Deps ---
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore local Python environment
/.venv/
.venv

# ===============================
# --- User & Old Files ---
# ===============================
# Ignore user-specific configuration
mappings.ini

# Ignore old application files
key_mapper_app.py
key_mapper_app.exe
open-key-mapper-app.bat

# ===============================
# --- OS & Editor Specific ---
# ===============================
# Visual Studio Code
.vscode/

# JetBrains
.idea/

# macOS
.DS_Store

# Other
*.swp
*.swo
*~
microsoft.*
_internal*
.old*

# Pytest cache
.pytest_cache/

# Build artifacts from pyinstaller
/build/**
/dist/**

# Windows store / package artifacts
*.msix
installer/*.msix

# Ignore VS Code workspace settings (user specific)
.vscode/*