# Ignore the old application files
key_mapper_app.py
key_mapper_app.exe
open-key-mapper-app.bat

# Ignore Python virtual environment
python311/

# Ignore PyInstaller build artifacts and cache
dist/
build/
_internal/
*.pyc
__pycache__/

# Ignore common editor and OS files
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
